* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    transition: 0.2s;
    
    scroll-behavior: smooth;
}


body
{
    font-family: "freight-sans-pro";
	font-size:16px;
    line-height: 1.5;
    color: #151515;
    margin: 0;
    
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    
    background: url(../img/topograhpy.png) no-repeat;
    background-position: top;
}

br
{
	line-height:1.8;
}

a
{
    text-decoration: none;
}

h1, h2, h3, h5, h6 {
    font-family: "freight-text-pro";
    font-weight: 900;
    margin: 0;
    line-height: 1.1;
}

img {
    max-width: 100%;
}

.button {
    padding: 0.75rem 2rem;
    border-radius: 5rem;
    box-shadow: 0 0.25rem 2rem rgba(174,174,174, 0.5);

    font-family: "freight-text-pro";
    font-weight: 900;
    color: #fff;
    background: #B31F1F;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0.25rem 1rem rgba(174,174,174, 0.75);
    background: #c00;
}
.button:focus {
    box-shadow: 0 0.25rem 1.5rem rgba(174,174,174, 1);
    color: #555;
}

.topnav {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.topnav .logo {
    font-family: "source-code-pro";
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 18px;
}

.hero{
    padding: 0.5rem;
}
.hero .head {
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    margin-top: 3rem;
}
.hero .subhead {
    margin-top:1rem;
    font-size: 1.25rem;
    color: #333;
}
.hero .subhead a {
    color: #A3A3A3;
}
.hero .subhead a:hover {
    color: #888;
}
.hero .subhead a:focus {
    color: #555;
}

.update {
    margin-top: 2rem;
    color: #fff;
}
.update span {
    background: #0C8E05;
    padding: 0.5rem 1rem;
}
.update a {
    color: #fff;
    text-decoration: underline;
    font-weight: 900;
}

.section {
    margin: 8rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}
.section img {
    /*box-shadow: rgba(0, 0, 0, 0.34) 0px 4px 58px;*/
}
.section img.leader {
    width: 48px;
    margin-right: 0.25rem;
}
.section h5 {
    font-size: 1.75rem;
    margin-top: 0.5rem;
}
.section .sub-small {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.section .sub-small .tag{
    text-transform: uppercase;
    color: #A3A3A3;
    font-size: 1.25rem;
    font-weight: 600;
}
.section p {
    margin: 0;
    font-size: 1rem;
}
.section .action {
    margin-top: 1rem;
}

.future {
    margin-bottom: 8rem;
}
.future h3 {
    font-size: 2rem;
}
.future .exped {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.future h6 {
    font-size: 1rem;
    margin: 0;
}
.future .tag{
    text-transform: uppercase;
    color: #A3A3A3;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 600;
}
.future .action {
    margin-top: 1rem;
}
.future .button {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
}


.contact a{
    font-size: 2rem;
    font-family: "freight-text-pro";
    font-weight: 900;
    color: #da5555;
    
    -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    
}
.contact a:hover {
    color: #B93F3D;   
}
.contact a svg {
    height: 2rem!important;
    width: 2rem!important;
}
.contact a:hover svg {
    transform: translate(1rem, 0rem);
    opacity: 0.4;
}
.contact a svg path {
    fill: #d20f0f;
}



.o-lazy {
    background: #f7f5f5;
    
    position: relative;
    width:100%;
    padding-top: 75%;
}

.o-lazy img {
    position: absolute;
    top: 0;
}